.events-container {
  position: absolute;
  background: url("https://images.unsplash.com/photo-1463860914822-61dc3ee606f7?auto=format&fit=crop&w=1655&q=80") no-repeat center;
  background-size: cover;
  background-color: #f0d3dd;
  height: auto;
  width: 1110px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.events-container-text {
  background-color: rgba(242,242,242,0.4);
  text-align: center;
  padding: 20px;
  margin: 20px;
}
