.home-container {
  position: absolute;
  background: url("../liberty-left.jpg") no-repeat center;
  background-size: cover;
  height: 620px;
  width: 1110px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;

}

.home-container-text {
  background-color: rgba(242,242,242,0.4);
  text-align: center;
  height: 580px;
  padding: 20px;
  margin: 20px;
  border: 2px solid #ffffff;

}

.home-content {
  width: 350px;
  float: right;
  margin-right: 30px;
}

.home-content h3{
  text-transform: uppercase;
}
