.App {
  text-align: center;
  padding: 30px;
  background: #B4DFEE;
  background-size: cover;



}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

.App-header {

  background-color: #B34C50;
  height: 150px;
  width: auto;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

.nav-item {
  display: inline-flex;
  list-style: none;
}

.navbar{
  display: inline;
  text-align: right;
  text-transform: uppercase;

}
.nav-item a{
  padding: 30px;
  color: #ffffff;
}

.marquee {
  font-family: 'Cinzel Decorative', cursive;
}

.marquee a{
  color: #ffffff;
  text-decoration: none;
}

.main-image {
  width: 500px;
  height: 350px;
}

.content {
  position: relative;
  height: 400px;
  margin-top: 30px;
  background-color: #F2F2F2;

}

.hero {
  width: 1110px;
  height: 400px;
}

.footer {
  margin-top: 90px;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
