.App {
  text-align: center;
  padding: 30px;
  background-color: #B4DFEE;
  height: 700px;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

.App-header {

  background-color: #B34C50;
  height: 150px;
  width: auto;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

.nav-item {
  display: inline-flex;
  list-style: none;
}

.navbar{
  display: inline;
  text-align: right;
  text-transform: uppercase;

}
.nav-item a{
  color: #ffffff;
}



.content {
  height: 400px;
  margin-top: 50px;
  background-color: #F2F2F2;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
